div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#Layer1
{
   background-color: #F7F5FB;
   background-image: none;
   border: 1px solid #161C48;
   border-radius: 5px;
}
#pass1edit
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #161C48;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#pass1edit:focus
{
   border-color: #161C48;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(22,28,72,0.60);
   outline: 0;
}
#Label1
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #161C48;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Label2
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #161C48;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Label3
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #161C48;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-style: normal;
   font-size: 19px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: center;
   vertical-align: top;
}
#resetBtn
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #161C48;
   background-image: none;
   color: #FFFFFF;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
#pass2edit
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #161C48;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 18px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#pass2edit:focus
{
   border-color: #161C48;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(22,28,72,0.60);
   outline: 0;
}
#Label2
{
   position: absolute;
   left: 56px;
   top: 133px;
   width: 273px;
   height: 18px;
   line-height: 18px;
   z-index: 2;
}
#Label3
{
   position: absolute;
   left: 124px;
   top: 16px;
   width: 166px;
   height: 22px;
   line-height: 22px;
   z-index: 3;
}
#wb_Image1
{
   position: absolute;
   left: 8px;
   top: -1px;
   width: 65px;
   height: 65px;
   z-index: 6;
}
#Layer1
{
   position: absolute;
   text-align: left;
   left: 288px;
   top: 169px;
   width: 393px;
   height: 256px;
   z-index: 8;
}
#pass1edit
{
   position: absolute;
   left: 56px;
   top: 89px;
   width: 271px;
   height: 18px;
   z-index: 0;
}
#pass2edit
{
   position: absolute;
   left: 56px;
   top: 159px;
   width: 271px;
   height: 18px;
   z-index: 5;
}
#resetBtn
{
   position: absolute;
   left: 56px;
   top: 211px;
   width: 280px;
   height: 27px;
   z-index: 4;
}
#Label1
{
   position: absolute;
   left: 55px;
   top: 59px;
   width: 274px;
   height: 18px;
   line-height: 18px;
   z-index: 1;
}
@media only screen and (max-width: 969px)
{
div#container
{
   width: 320px;
}
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#BuildWith1
{
   left: 145px;
   top: 319px;
   width: 29px;
   height: 10px;
   visibility: visible;
   display: inline;
}
#Layer1
{
   left: 26px;
   top: 80px;
   width: 267px;
   height: 154px;
   visibility: visible;
   display: inline;
}
#pass1edit
{
   left: 39px;
   top: 48px;
   width: 177px;
   height: 12px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
   font-size: 8px;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#pass1edit
{
   line-height: 12px;
}
#Label1
{
   left: 39px;
   top: 28px;
   width: 179px;
   height: 12px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
   font-size: 8px;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#Label1
{
   line-height: 12px;
}
#Label2
{
   left: 40px;
   top: 70px;
   width: 94px;
   height: 12px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
   font-size: 8px;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#Label2
{
   line-height: 12px;
}
#wb_Image1
{
   left: 39px;
   top: 3px;
   width: 29px;
   height: 29px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#Label3
{
   left: 84px;
   top: 7px;
   width: 92px;
   height: 12px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: center;
   font-size: 8px;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#Label3
{
   line-height: 12px;
}
#resetBtn
{
   left: 40px;
   top: 126px;
   width: 187px;
   height: 15px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 1px 6px 1px 6px;
   font-size: 8px;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#pass2edit
{
   left: 40px;
   top: 90px;
   width: 177px;
   height: 12px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
   font-size: 8px;
   font-family: "Bookman Old Style";
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
}
#pass2edit
{
   line-height: 12px;
}
}
